.comments{
  display: flex;
  flex-direction: column;
}
#post{
  background-color: #3f86b5;
  color: #cfcfcf;
  text-shadow: 1px 1px 1px #3d3d3d;
  margin-top: 1em;
  align-self: center;
  justify-self: center;
}
.posts-title{
  font-size: 1.6em;
}
.comment-info{
  display: flex;
  justify-content: space-between;
}
.poster{
  font-size: 1.4em;
}
.user-controls{
  display: flex;
}
.comment-button{
  cursor: pointer;
}