.nav{
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0em;
  font-size: 0.8em;
}
.link{
  margin-right: 0.5em;
  cursor: pointer;
  padding: 0.2em;
}

.link:hover{
  background-color: #3d3d3d;
  color: #ffffff;
  border-radius: 5px;
}

@media only screen and (min-width: 540px){
  .nav{
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 0.2em;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px){
  .nav{
    font-size: 1.5em;
    margin-right: .5em;
    margin-bottom: .5em;
  }
}
