.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-children {
  flex: 2;
}

.header{
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}